  <h1> Temp App </h1>
  <h3>Record how the room feels and when you felt it goldilocks style</h3>

  <div>
  {{#each col}}
  <div>

  <span>{{this.id}}{{this.states}}{{this.date}}</span>

  </div>

  {{each}}

  </div>

  <form action ="/createHot" method="POST">
  <input input type="hidden" type="text"></br>
  <button type="submit" class="btn btn-danger">Too Hot</button>
  </form>

  <form action ="/createCold" method="POST">
  <input input type="hidden" type="text"></br>
  <button type="submit" class="btn btn-info">Too Cold</button>
  </form>

  <form action ="/createRight" method="POST">
  <input input type="hidden" type="text"></br>
  <button type="submit" class="btn btn-success">Just Right</button>
  </form>


